body {
  background-color: #2e2e2e;
}

.container {
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 200px;
  color: #121212;
  width: 25%;
  margin-left: 40%;
}

.cabecalho {
  background-color: #eee;
  padding: 20px;
  text-align: center;
}

.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  font-size: 14px;
  width: 95%;
  padding: 10px;
  justify-items: center;
}

.form button {
  background-color: rgba(0, 60, 255, 0.8);
  border: 2px solid #121212;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.form button:hover {
  background-color: rgba(0, 60, 255, 1);
  cursor: pointer;
}
